!!!
!!! 5
%html{ lang: 'en' }
  %title bkmrkd
  %meta{ charset: 'utf-8' }

  %link{ href: 'css/normalize.css', rel: 'stylesheet' }
  %link{ href: 'css/bkmrkd.css', rel: 'stylesheet' }
  %link{ rel: 'Shortcut Icon', href: 'img/favicon.png' }

  %script{ type: 'text/javascript', src: '//use.typekit.net/gis1unc.js' }
  %script{ type: 'text/javascript'} try{Typekit.load();}catch(e){}

  <!--[if lte IE 8]><script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js" type="text/javascript"></script><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js" type="text/javascript"></script><![endif]-->

%body
  %header{ class: 'header clearfix' }
    .container
      %h1{ class: 'site-title' } bkmrkd
      %nav{ class: 'header__nav' }
        %ul{ class: 'nav__list' }
          %li{ class: 'nav__item' }
            %a{ class: 'nav__link active', href: '/' } bookmarks
          %li{ class: 'nav__item' }
            %a{ class: 'nav__link', href: '/colophon' } colophon
  %div{ class: 'container bookmarks' }
    =styled_flash
    - if @bookmark_pages > 1
      .pagination
        - if @page_number === 1
          %span{ class: 'pagination__previous-page disabled' } Previous
        - else
          %a{ class: 'pagination__previous-page', href: "/?page=#{ @page_number - 1 }" } Previous

        - @bookmark_pages.times do |pn|
          %a{ class: "pagination__page #{ @page_number === pn + 1 ? 'current' : '' }", href: "/?page=#{ pn + 1 }" }= pn + 1

        - if @page_number === @bookmark_pages
          %span{ class: 'pagination__next-page disabled' } Next
        - else
          %a{ class: 'pagination__next-page', href: "/?page=#{ @page_number + 1 }" } Next

    - if @bookmarks.length > 0
      - @bookmarks.each do |bm|
        .bookmark
          %a{ class: 'bookmark__title', href: "#{bm['url']}" }= bm['title']
          .bookmark__location= bm['formatted_url']
          .bookmark__creation= bm['date_added'].strftime("%B %d, %Y")
          %a{ class: 'bookmark__destroy', href: "/delete/#{bm['id']}" } destroy this bookmark
    - else
      .oh-no
        :markdown
          Sadly, there are no bookmarks to show.

          You can add bookmarks by dragging [this](javascript:function bkmrk(){var e=document,t=e.createElement('script'),n=e.body,r=e.location,i=e.title,s='http://bm.beardfury.com/add?title='+i+'&url='+encodeURIComponent(r.href);try{if(!n)throw 0;if(r.protocol.search(/(https)/)>=0){window.open(s+'&action=close','_blank','width=200,height=200')}else{e.title='Bookmarking'+e.title;t.setAttribute('src',s);n.appendChild(t)}}catch(o){alert('Please wait until the page has loaded.')}}bkmrk();void 0) to your bookmarks bar and using it on a cool website.

    - if @bookmark_pages > 1
      .pagination
        - if @page_number === 1
          %span{ class: 'pagination__previous-page disabled' } Previous
        - else
          %a{ class: 'pagination__previous-page', href: "/?page=#{ @page_number - 1 }" } Previous

        - @bookmark_pages.times do |pn|
          %a{ class: "pagination__page #{ @page_number === pn + 1 ? 'current' : '' }", href: "/?page=#{ pn + 1 }" }= pn + 1

        - if @page_number === @bookmark_pages
          %span{ class: 'pagination__next-page disabled' } Next
        - else
          %a{ class: 'pagination__next-page', href: "/?page=#{ @page_number + 1 }" } Next
